body{
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  margin-top: 5px;
}

.App {
  display: flex;
  justify-content: center;
  text-align: center;
}

.calc-wrapper{
  background-color: white;
  width: 400px;
  border-radius: 16px;
}

.row{
  display: flex;
}
